body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('hoa.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
}



h1 {
  color: #b8d0cd;
  font-size: 3em;


}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  body {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
